body {
    background-color: #6B5B85;
  }
  h1 {
    color: #89cff0;
    text-align: center;
    font-family: sans-serif;
  }
  p {
    color: #89cff0;
    margin:15px;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
  }
  img{
      margin-left: 400px;
      margin-right: 250px;
  }
  figcaption{
      font-family: sans-serif;
      margin-left: 400px;
      margin-right: 250px;
      color: #89cff0;
  }
  a{
    font-family: sans-serif;
    margin: auto;
  }